In [1]:
%load_ext autoreload
%autoreload 2
from evaluation import WordSimEvaluation
wordEval = WordSimEvaluation()
metrics = ["path", "wpath_graph", "res", "lin", "jcn"]

In [32]:
wordEval.evaluate_datasets_wpath_k("wpath_graph", wordEval.dataset_names, display_table=True, ic_func="ic_graph_global", relatedness=True)

       noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
k=0.1    0.670    0.768       0.315           0.524        0.325
k=0.2    0.721    0.827       0.330           0.553        0.339
k=0.3    0.730    0.841       0.343           0.593        0.356
k=0.4    0.743    0.830       0.353           0.611        0.358
k=0.5    0.781    0.844       0.361           0.617        0.370
k=0.6    0.796    0.862       0.363           0.627        0.382
k=0.7    0.799    0.859       0.367           0.636        0.393
k=0.8    0.804    0.876       0.365           0.647        0.405
k=0.9    0.811    0.905       0.361           0.663        0.425
k=1.0    0.805    0.908       0.335           0.641        0.419

In [28]:
range_k = [k/100 for k in range(80, 101, 2)]
print(range_k)
wordEval.evaluate_datasets_wpath_k("wpath_graph", 
                                   wordEval.dataset_names, display_table=True, 
                                   ic_func="ic_graph_global", 
                                   relatedness=True, range_k=range_k)

[0.8, 0.82, 0.84, 0.86, 0.88, 0.9, 0.92, 0.94, 0.96, 0.98, 1.0]
done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance

        noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
k=0.8     0.804    0.876       0.365           0.647        0.405
k=0.82    0.810    0.884       0.364           0.648        0.410
k=0.84    0.806    0.890       0.362           0.653        0.411
k=0.86    0.808    0.895       0.362           0.657        0.415
k=0.88    0.810    0.895       0.360           0.661        0.423
k=0.9     0.811    0.905       0.361           0.663        0.425
k=0.92    0.812    0.906       0.360           0.670        0.426
k=0.94    0.815    0.906       0.359           0.665        0.426
k=0.96    0.818    0.906       0.353           0.663        0.425
k=0.98    0.819    0.905       0.350           0.662        0.418
k=1.0     0.805    0.908       0.335           0.641        0.419

In [3]:

wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_global", k=0.9, relatedness=True, display_table=True)

done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance

             noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
path           0.805    0.908       0.326           0.645        0.418
wpath_graph    0.811    0.905       0.350           0.671        0.414
res            0.739    0.824       0.374           0.525        0.294
lin            0.791    0.871       0.388           0.576        0.342
jcn            0.803    0.873       0.287           0.537        0.360

In [29]:
wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_global", k=0.9, relatedness=True, display_table=True)

             noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
path           0.805    0.908       0.335           0.641        0.419
wpath_graph    0.811    0.905       0.361           0.663        0.425
res            0.739    0.823       0.371           0.525        0.293
lin            0.790    0.871       0.390           0.586        0.358
jcn            0.803    0.873       0.328           0.540        0.367

In [30]:
wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_global",lcs_pref_value="freq1", k=0.9, relatedness=True, display_table=True)

done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1

             noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
path           0.794    0.901       0.362           0.605        0.461
wpath_graph    0.781    0.876       0.362           0.648        0.425
res            0.591    0.702       0.283           0.481        0.184
lin            0.710    0.809       0.338           0.587        0.285
jcn            0.752    0.834       0.314           0.584        0.319

In [2]:
wordEval.evaluate_metric("wpath_graph", "noun_rg", ic_func="ic_graph_global", k=0.9, relatedness=True, save_results=True)

done calculation all shortest distance

0.811

In [31]:
import pandas as pd 
csv = pd.read_csv("dataset/wordsim/results-csv/noun_rg_wpath_graph_shortest_path_0.9.csv")
csv

    Unnamed: 0     wordone    wordtwo  mean   sim                        LCS
0            0         gem      jewel  3.94  4.00                   gemstone
1            1      midday       noon  3.94  4.00                       noon
2            2  automobile        car  3.92  4.00                        car
3            3    cemetery  graveyard  3.88  4.00                   cemetery
4            4     cushion     pillow  3.84  3.21                    cushion
5            5         boy        lad  3.82  4.00                        boy
6            6        cock    rooster  3.68  4.00                    rooster
7            7   implement       tool  3.66  4.00                       tool
8            8      forest   woodland  3.65  2.67                     forest
9            9       coast      shore  3.60  4.00                       bank
10          10   autograph  signature  3.59  3.28                  signature
11          11     journey     voyage  3.58  2.87                     travel
12          12        serf      slave  3.46  3.20            enslaved person
13          13        grin      smile  3.46  4.00                      smile
14          14       glass    tumbler  3.45  2.52            drinking vessel
15          15        cord     string  3.41  3.24                       cord
16          16        hill      mound  3.29  0.66          geographic entity
17          17    magician     wizard  3.21  4.00        magician in fantasy
18          18     furnace      stove  3.11  3.09                      stove
19          19      asylum   madhouse  3.04  4.00       psychiatric hospital
20          20     brother       monk  2.74  3.15                       monk
21          21        food      fruit  2.69  2.81                       food
22          22        bird       cock  2.63  3.16              heraldic bird
23          23        bird      crane  2.63  1.40                      taxon
24          24      oracle       sage  2.61  0.81      first-order metaclass
25          25        sage     wizard  2.46  2.09             character type
26          26     brother        lad  2.41  2.52                 male human
27          27       crane  implement  2.37  1.86                       tool
28          28    magician     oracle  1.82  1.79                 occupation
29          29       glass      jewel  1.78  1.66              base material
..         ...         ...        ...   ...   ...                        ...
35          35       coast       hill  1.26  1.63                   landform
36          36        bird   woodland  1.24  0.60     group of living things
37          37       shore     voyage  1.22  0.52            physical object
38          38    cemetery   woodland  1.18  0.77        geographical object
39          39        food    rooster  1.09  0.87                   organism
40          40      forest  graveyard  1.00  0.67        geographical object
41          41         lad     wizard  0.99  0.73                     person
42          42       mound      shore  0.97  0.77        geographical object
43          43  automobile    cushion  0.97  1.32                 furnishing
44          44         boy       sage  0.96  0.96                       role
45          45        monk     oracle  0.91  1.40                 occupation
46          46       shore   woodland  0.90  0.77        geographical object
47          47        grin        lad  0.88  0.45         Wikidata metaclass
48          48       coast     forest  0.85  0.72  natural geographic object
49          49      asylum   cemetery  0.79  1.08    architectural structure
50          50        monk      slave  0.57  1.20                   position
51          51     cushion      jewel  0.45  0.45          artificial entity
52          52         boy    rooster  0.44  0.73   polyphyletic common name
53          53       glass   magician  0.44  0.58      first-order metaclass
54          54   graveyard   madhouse  0.44  0.78        geographic location
55          55      asylum       monk  0.39  0.81                    concept
56          56      asylum      fruit  0.19  0.58                       term
57          57        grin  implement  0.18  0.62                      goods
58          58       mound      stove  0.14  1.32               construction
59          59  automobile     wizard  0.11  0.71                   activity
60          60   autograph      shore  0.06  0.70            physical object
61          61       fruit    furnace  0.05  2.00                     charge
62          62        noon     string  0.04  0.72                       text
63          63     rooster     voyage  0.04  0.58         Wikidata metaclass
64          64        cord      smile  0.02  0.54                      goods

[65 rows x 6 columns]

In [7]:
from similarity import ConceptSimilarity
from analytics import DiGraph, DAC
from dataset import Dataset
ds = Dataset()
dataset_name = "noun_mc"
concepts, word_pairs, get_ids_from_noun = ds.transform_dataset(dataset_name)

MCT = DAC(concepts=concepts, dataset=dataset_name, relatedness=True)
CS = ConceptSimilarity(MCT)
#sorted(MCT.graph.in_edges("Q19361238",data=True), key=lambda x: MCT.graph.in_degree(x))

In [17]:
item = "Q19361238"
#item = "Q36809769"
gemstone = "Q83437"
noon = "Q168182"
string = "Q184754"
geoObj = "Q618123"
person = "Q5"
car = "Q1420"
CS.ic_graph_global(geoObj)#, CS.res(noon,string,ic_func="ic_graph_global")

1.6149954977227416

In [11]:
sorted(list(["Q168182","Q83437","Q5", "Q618123"]),key=lambda x: x[1])

['Q168182', 'Q5', 'Q618123', 'Q83437']

In [11]:
MCT.graph.nodes["Q5"]

{'value': 'human', 'freq1': 6535964}